<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorinterval="30" status="info" strict="true">
    <Properties>
        <Property name="mainLogFileName">log/app.log</Property>
        <Property name="emitterLogFileName">log/event-emitter.log</Property>
    </Properties>
    <Appenders>
        <!-- General Appenders -->
        <Appender type="Console" name="ConsoleAppender">
            <Layout type="PatternLayout" pattern="%d %p [%t] %m%n" />
        </Appender>
        <Appender type="File" name="FileAppender" fileName="${mainLogFileName}">
            <Layout type="PatternLayout" pattern="%d %p %C [%t] %m%n" />
        </Appender>
        <!-- /General Appenders -->
        <!-- MainSample Specific Appenders -->
        <Appender type="File" name="EmitterFileAppender" fileName="${emitterLogFileName}">
            <Layout type="PatternLayout" pattern="%d %p %C [%t] %m%n" />
        </Appender>
        <!-- /MainSample Appenders -->
    </Appenders>
    <Loggers>
        <Root level="all">
            <AppenderRef ref="ConsoleAppender" />
            <AppenderRef ref="FileAppender" />
        </Root>
        <Logger name="com.ggordon.schad.clickstream_generator.emitter" level="all" additivity="false">
            <AppenderRef ref="EmitterFileAppender"/>
            <AppenderRef ref="ConsoleAppender" />
        </Logger>
    </Loggers>
</Configuration>